{%extends "base.html"%}
{% load static %}
{% block title %}Add Information{% endblock %}
{% block user_links %}
    {% if rank == "author" %}
        <li><a href="{% url 'blog:post_blog' %}" class="text">Post Blog</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<h1 class="h1">Add Information</h1>
<form action="" method = "POST" enctype="multipart/form-data" class = "info-form">
    {{ form.as_p }}
    {%csrf_token%}
    <div class="info-buttons">
        <button type="submit" class="text button-primary">Save</button>
        <a href="{% url 'members:profile' %}" class="button-secondary text">Cancel</a>
    </div>
</form>
{%endblock%}