{%extends "base.html"%}
{% block title %}Profile{% endblock %}
{% block content %}
<h2>User Profile</h2>
<p>Hello {{user_profile.rank}} {{ user.username }}</p>
<div>
    {% if user_profile.profile_picture %}
    <img src="{{ user_profile.profile_picture.url }}" alt="" style="border-radius: 50%; height : 100px; width: 100px;">
    {%else%}
    <div style = "border-radius: 50%; height : 100px; width: 100px; background-color : black"></div>
    {%endif%}

    {% if user_profile.bio%}
    <p>{{user_profile.bio}}</p>
    {%else%}
    <p>No bio available.</p>
    {%endif%}
</div>

<a href="{% url 'members:logout' %}">Logout</a>
<a href="{% url 'members:info' %}">Edit info</a>
{% endblock %}