{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
    <form method="post" class="account-form ">
      {% csrf_token %}
      {% for field in form %}
      <div class="form-group">
        <div>
            <label for="{{ field.id_for_label }}" class="text">{{ field.label }} : </label>
            {{ field }}
        </div>
        {% if field.errors %}
        <div class="error-message alerts">
          {{ field.errors }}
        </div>
        {% endif %}
      </div>
      {% endfor %}
      
      <button type="submit" class="button-secondary text">Sign Up</button>
    </form>
    <p class="text signup-p">
        Already have an account?
        <a class="button-primary text" href="{% url 'members:login' %}">Log in</a>
      </p>
  </div>
</section>
{% endblock %}