{% extends "base.html" %}
{% block title %}BlogX Home{% endblock %}
{% block content %}
<h1 class="h1">Welcome to BlogX</h1>
<p class="text"`>This is the home page of BlogX.</p>

<div>
    {% if rank == "author" %}
        <p class="text">You are logged in as the author.</p>
        <a href="{% url 'blog:post_blog'%}" class="text button-primary">Create a post</a>
    {% else %}
    <p class="text">You are logged in as a reader.</p>
    {% endif %}
</div>
<div>
    <h2 class="h2">Top Posts</h2>
    <div>
        {% for i in top_blogs %}
        <div class="top-post-container">
            <h3 class="h3">{{ i.title }}</h3>
            <p class="text">{{ i.content|slice:":100" }}...</p>
            <div class="blog-author-content">
                <p class="text">Author: {{ i.author.username }} </p>
                <p class="text">{{ i.created_at }}</p>
            </div>
            <div class="blog-stats">
                <p class="text">Views: {{ i.view_count }}</p>
                <p class="text">Likes: {{ i.like_count }}</p>
                <a href="{% url 'blog:blog_details' i.id%}" class="text button-secondary">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div>
    <h2 class="h2">Recent Posts</h2>
        {% for i in recent_blogs %}
    <div class="top-post-container">
            <h3 class="h3">{{ i.title }}</h3>
            <p class="text">{{ i.content|slice:":100" }}...</p>
            <div class="blog-author-content">
                <p class="text">Author: {{ i.author.username }} </p>
                <p class="text">{{ i.created_at }}</p>
            </div>
            <div class="blog-stats">
                <p class="text">Views: {{ i.view_count }}</p>
                <p class="text">Likes: {{ i.like_count }}</p>
        <a href="{% url 'blog:blog_details' i.id %}" class="text button-secondary">Read more</a>
        </div>
    </div>
        {% endfor %}
</div>

{% endblock %}