{% extends "base.html" %}
{% block title %}BlogX Home{% endblock %}
{% block user_links %}
    {% if rank == "author" %}
        <li><a href="{% url 'blog:post_blog' %}" class="text">Post Blog</a></li>
    {% endif %}
{% endblock %}
{% block content %}
<div class = "blog-home-hero">
    <h1 class="h1">Welcome to BlogX</h1>
    <p class="text">This is the home page of BlogX.</p>
</div>
<div class="blog-container">
    {% if rank == "author" %}
        <p class="text">You are logged in as the author.</p>
        <a href="{% url 'blog:post_blog'%}" class="text button-primary">Create a post</a>
    {% else %}
        <p class="text">You are logged in as a reader.</p>
    {% endif %}
</div>
<div class="all-blog-container">
    <h2 class="h2">Top Posts</h2>
    <div class="top-posts">
        {% for i in top_blogs %}
        <div class="top-post-container">
            <h3 class="h3">{{ i.title.capitalize }}</h3>
            <p class="text">{{ i.content|slice:":104" }} ......</p>
            <div class="blog-author-content">
                <p class="text">Author: {{ i.author.username.capitalize }} </p>
                <p class="text">{{ i.created_at|date:"F j, Y" }}</p>
            </div>
            <div class="blog-stats">
                <p class="text">Views: {{ i.view_count }}</p>
                <p class="text">Likes: {{ i.like_count }}</p>
                <a href="{% url 'blog:blog_details' i.id%}" class="text button-secondary">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div><div class="all-blog-container">
    <h2 class="h2">Recent Posts</h2>
    <div class="top-posts">
        {% for i in recent_blogs %}
        <div class="top-post-container">
            <h3 class="h3">{{ i.title.capitalize }}</h3>
            <p class="text">{{ i.content|slice:":104" }} ......</p>
            <div class="blog-author-content">
                <p class="text">Author: {{ i.author.username.capitalize }} </p>
                <p class="text">{{ i.created_at|date:"F j, Y" }}</p>
            </div>
            <div class="blog-stats">
                <p class="text">Views: {{ i.view_count }}</p>
                <p class="text">Likes: {{ i.like_count }}</p>
                <a href="{% url 'blog:blog_details' i.id%}" class="text button-secondary">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div>

{% endblock %}