<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlogX{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    {% block extra_styles %}
    {% endblock %}
</head>
<body>
    <header>
        <nav>
            <ul class="nav-list">
                <li><a href="{% url 'blog:blog_home' %}" class="text">Blogs</a></li>
                {% block user_links %}
                {% endblock %}
                <li><a href="{% url 'members:profile' %}" class="text">Profile</a></li>
            </ul>
            <form action="{% url 'blog:search_blogs' %}" method="GET" class="search-form">
                <input type="text" name="q" placeholder="🔍Search for blogs" value="{{request.GET.q}}" class="search-input text">
                <button type="submit"></button>
            </form>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p class="text">&copy; 2025 BlogX. All rights reserved.</p>
    </footer>
</body>
</html>