<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}BlogX{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'blog:blog_home' %}">Blogs</a></li>
                <li><a href="{% url 'members:profile' %}">Profile</a></li>
                <li><a href="">Categories</a></li>
                <li><a href="{% url 'blog:post_blog' %}">Post Blog</a></li>
            </ul>
              <form action="" method="">
                <input type="text" name="q" placeholder="Search posts...">
                <button type="submit">🔍</button>
            </form>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 BlogX. All rights reserved.</p>
    </footer>
</body>
</html>